{% extends 'base.html.twig' %}

{% block body %}

<a class="mt-[10px]" href="{{ path('supplier_orders') }}">Retour à la liste des commandes</a>

<div class="relative overflow-x-auto mt-[30px]">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom du produit
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantité de produits commandés
                </th>
                <th scope="col" class="px-6 py-3">
                    Prix à l'unité
                </th>
                <th scope="col" class="px-6 py-3">
                    Prix total produits
                </th>
            </tr>
        </thead>
        <tbody>
            {% set total = 0 %}
            {% for orderline in orderlines %}
                {% set lineTotal = orderline.quantity * orderline.product.price %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">
                        {{ orderline.product.name }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ orderline.quantity }}
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ orderline.product.price }} €
                    </td>
                    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ lineTotal }} €
                    </td>
                </tr>
                {% set total = total + lineTotal %}
            {% else %}
                <tr>
                    <td class="py-2 px-4" colspan="4">Aucune commande n'a été passée.</td>
                </tr>
            {% endfor %}
            <tr class="bg-gray-100 dark:bg-gray-700">
                <td colspan="3" class="text-right px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Prix total commande :
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ total }} €
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
