{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="max-w-lg mx-auto mt-8 bg-white p-6 rounded-md shadow-md">
        <h2 class="text-3xl font-bold mb-6 text-blue-800">Contactez-nous</h2>
        
        <p class="text-gray-700 font-semibold mb-8">
            Nous sommes là pour vous aider. N'hésitez pas à nous contacter pour toute question ou préoccupation.
        </p>

        {{ form_start(formContact, {'attr': {'class': 'space-y-4'}}) }}
        
        <div class="flex flex-col">
            {{ form_label(formContact.name, 'Nom', {'class': 'text-gray-800 font-semibold mb-2'}) }}
            {{ form_widget(formContact.name, {'class': 'form-input'}) }}
        </div>

        <div class="flex flex-col">
            {{ form_label(formContact.email, 'Email', {'class': 'text-gray-800 font-semibold mb-2'}) }}
            {{ form_widget(formContact.email, {'class': 'form-input'}) }}
        </div>

        <div class="flex flex-col">
            {{ form_label(formContact.subject, 'Sujet', {'class': 'text-gray-800 font-semibold mb-2'}) }}
            {{ form_widget(formContact.subject, {'class': 'form-input'}) }}
        </div>

        <div class="flex flex-col">
            {{ form_label(formContact.message, 'Message', {'class': 'text-gray-800 font-semibold mb-2'}) }}
            {{ form_widget(formContact.message, {'class': 'form-textarea h-32'}) }}
        </div>
        
        <div>
            {{ form_widget(formContact.submit, {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-auto'}) }}
        </div>

        {{ form_end(formContact) }}
    </div>

    <div class="mt-8 bg-gradient-to-b from-blue-400 to-blue-600 text-white p-7 rounded-md shadow-md">
        <h2 class="text-3xl font-bold mb-6">À propos de LinkEat</h2>
        
        <p class="text-gray-200">
            LinkEat est une plateforme en ligne qui met en relation les restaurants et les clients. Nous offrons une expérience de commande pratique et facile pour les utilisateurs et aidons les restaurants à atteindre un plus large public. Avec LinkEat, vous pouvez découvrir de délicieux plats, passer des commandes en ligne et vous faire livrer directement chez vous.
        </p>
    </div>
{% endblock %}
