{# _footer.html.twig #}

<footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('assets/linkeat.png') }}" class="h-16" alt="Logo du site de LinkEat" />
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                {% set currentRoute = app.request.attributes.get('_route') %}
                {% if is_granted('ROLE_SUPPLIER') %}
                    {% if currentRoute != 'app_home_supplier' %}
                        <li>
                            <a href="{{ path('app_home_supplier') }}" class="hover:underline me-4 md:me-6">Tableau de bord</a>
                        </li>
                    {% endif %}
                    {% if currentRoute != 'app_products' %}
                        <li>
                            <a href="{{ path('app_products') }}" class="hover:underline me-4 md:me-6">Produits</a>
                        </li>
                    {% endif %}
                    {% if currentRoute != 'supplier_orders' %}
                        <li>
                            <a href="{{ path('supplier_orders') }}" class="hover:underline me-4 md:me-6">Commandes</a>
                        </li>
                    {% endif %}
                {% elseif is_granted('ROLE_RESTAURATEUR') %}
                    {% if currentRoute != 'home_restaurateur' %}
                        <li>
                            <a href="{{ path('home_restaurateur') }}" class="hover:underline me-4 md:me-6">Accueil</a>
                        </li>
                    {% endif %}
                    {% if currentRoute != 'suppliers' %}
                        <li>
                            <a href="{{ path('suppliers') }}" class="hover:underline me-4 md:me-6">Fournisseurs</a>
                        </li>
                    {% endif %}
                {% endif %}
                {% if currentRoute != 'app_aboutUs' %}
                    <li>
                        <a href="{{ path('app_aboutUs') }}" class="hover:underline me-4 md:me-6">À propos de nous</a>
                    </li>
                {% endif %}
                {% if currentRoute != 'app_contact' %}
                    <li>
                        <a href="{{ path('app_contact') }}" class="hover:underline me-4 md:me-6">Nous contacter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">LinkEat™</a>. Tous droits réservés.</span>
    </div>
</footer>
