{# templates/_navbar.html.twig #}

<nav class="bg-white shadow dark:bg-gray-900">
    <div class="container mx-auto px-6 py-3">
        <div class="flex flex-col md:flex-row md:justify-between md:items-center">
            <div class="flex justify-between items-center">
                <div class="text-xl font-semibold text-gray-700">
                    <a class="text-2xl font-bold text-gray-800 dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="{% if is_granted('ROLE_SUPPLIER') %}{{ path('supplier_dashboard') }}{% elseif is_granted('ROLE_RESTAURATEUR') %}{{ path('home_restaurateur') }}{% else %}{{ path('app_home') }}{% endif %}">LinkEat</a>
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 110-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <!-- Desktop Menu -->
            <div class="flex flex-col md:flex-row items-center">
                {% set currentRoute = app.request.attributes.get('_route') %}
                {% if is_granted('ROLE_SUPPLIER') %}
                    {% if currentRoute != 'supplier_dashboard' %}
                        <a href="{{ path('supplier_dashboard') }}" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300">Tableau de bord</a>
                    {% endif %}
                {% elseif is_granted('ROLE_RESTAURATEUR') %}
                    {% if currentRoute != 'home_restaurateur' %}
                        <a href="{{ path('home_restaurateur') }}" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300">Accueil</a>
                    {% endif %}
                    {% if currentRoute != 'suppliers' %}
                                <a class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300" href="{{ path('suppliers') }}">Nos fournisseurs</a>
                    {% endif %}
                    <!-- Menu déroulant pour les restaurateurs -->
                    <div class="relative">
                        <button id="dropdownButton" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300 flex items-center" aria-haspopup="true" aria-expanded="false">
                            Mon profil <svg class="ml-2 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </button>
                        <div id="dropdown" class="hidden absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
                            <!-- Conditionally display links if they are not the current route -->
                            {% if currentRoute != 'restaurateur_cart' %}
                                <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ path('restaurateur_cart') }}">Panier</a>
                            {% endif %}
                            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="#">Mon profil</a>
                            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </div>
                {% endif %}
                {% if currentRoute != 'app_aboutUs' %}
                    <a href="{{ path('app_aboutUs') }}" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300">À propos</a>
                {% endif %}
                {% if currentRoute != 'app_contact' %}
                    <a href="{{ path('app_contact') }}" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300">Contact</a>
                {% endif %}
                {% if not app.user %}
                    {% if currentRoute != 'login' %}
                        <a href="{{ path('login') }}" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300">Connexion</a>
                    {% endif %}
                    {% if currentRoute != 'register' %}
                        <a href="{{ path('register') }}" class="py-2 px-2 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white transition duration-300">Inscription</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script>
    // Script simple pour gérer le menu déroulant
    document.getElementById('dropdownButton').addEventListener('click', function () {
        var dropdown = document.getElementById('dropdown');
        if (dropdown.classList.contains('hidden')) {
            dropdown.classList.remove('hidden');
        } else {
            dropdown.classList.add('hidden');
        }
    });
</script>
