{% extends 'base.html.twig' %}

{% block title %}Nouveau fournisseur !{% endblock %}

{% block body %}
    <div class="max-w-2xl mx-auto mt-8 bg-white p-8 border rounded-md">
        <h1 class="text-2xl font-bold mb-6">Fournisseur</h1>

        <div style="overflow-x: hidden;">
            {{ form_start(formSupplier) }}

            <div class="flex flex-wrap -mx-2 mb-2">
                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.email, 'Adresse email', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>

                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.password, 'Mot de passe', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.password, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.name, 'Votre prénom', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>

                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.firstName, 'Votre nom de famille', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.firstName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full px-4 mb-4">
                    {{ form_label(formSupplier.companyName, 'Nom de votre agence', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.companyName, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full px-4 mb-4">
                    {{ form_label(formSupplier.description, 'Votre description personnel', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.description, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.siretNumber, 'Numéro de SIRET', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.siretNumber, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>

                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.postalAddress, 'Nom de votre adresse postale', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.postalAddress, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.country, 'Nom de votre pays', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.country, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>

                <div class="w-full md:w-1/2 px-4 mb-4">
                    {{ form_label(formSupplier.city, 'Nom de votre ville', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.city, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full px-4 mb-4">
                    {{ form_label(formSupplier.address, 'Adresse complète de l\'agence', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.address, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="flex flex-wrap -mx-4 mb-4">
                <div class="w-full px-4 mb-4">
                    {{ form_label(formSupplier.category, 'Catégorie', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
                    {{ form_widget(formSupplier.category, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-sm'}}) }}
                </div>
            </div>

            <div class="mt-6 text-center">
                {{ form_widget(formSupplier.save, {'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mx-auto'}}) }}
            </div>


            {{ form_end(formSupplier) }}

            {% for message in app.flashes('success') %}
                <p class="mt-4 text-green-500">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}